/* COMMON */
body{
  font-family: "Nanum Gothic", "Noto";
}
.inner{
  position: relative;
  width:  1100px;
  margin: 0 auto;
  height: 100%;
}
section{
  border-bottom: 1px solid #333;
}
a{
  text-decoration: none;
  color: #333;
}
.img{
  display: block;
}
.btn{
  width: 130px;
  padding: 10px;
  border: 2px solid #070d59;
  border-radius: 4px;
  color: #070d59;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  bottom: 30px;
  background-color: #fff;
}
.btn:hover{
  background-color: #070d59;
  color: #fff;
  border: 2px solid #070d59;
}
.btn--navy{
  background-color: #070d59;
  color: #fff;
}
.btn--navy:hover{
  background-color: #fff;
  color: #070d59;
}
span{
  display: block;
}
/* HEADER */
header{
  position: fixed;
  top: 0;
  width: 100%;
  height: 110px;
  z-index: 1;
  background-color: #fff;
  border-bottom: 1px solid #070d59;
  box-sizing: border-box;
}
header .sub-menu{
  position: absolute;
  right: 0;
  display: flex;
  background-color: #333;
  width: 200px;
}
header .sub-menu .sns{
  margin: 0 auto;
}
header .sub-menu .sns img{
  width: 30px;
  height: 30px;
  object-fit: cover;
}
header .badge{
  position: fixed;
  top: 400px;
  right: 10px;
  cursor: pointer;
}
header .badge img{
  box-shadow: 0 4px 4px 0 #333;
}
header .inner{
  height: 110px;
} 
header .logo{
  height: 33.08px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
header .logo img{
  width: 200px;
  object-fit: contain;
}
header .main-menu{
  position: absolute;
  height: 30px;
  right: 50px;
  bottom: 20px;
}
header .main-menu .active {
  color: #333;
  font-weight: 600;
}

header .main-menu button{
  background: none;
  margin-right: 10px;
  height: 30px;
  border: none;
}
header .main-menu button p{
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #070d59;
  font-weight: 400;
  cursor: pointer;
}
header .main-menu button p:hover{
  font-weight: 600;
}
/* INTRODUCE */
.introduce{
  margin-top: 110px;
  position: relative;
  height: 900px;
  background-image: url("../images/introbackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.introduce .text{
  position: relative;
}
.introduce .text img{
  position: absolute;
  top: 250px;
  right: 0;
  left: 0;
  margin: 0 auto;
}

/* ESTIMATE */
.estimate{
  height: 900px;
  margin: 0 auto;
}
.estimate img{
  position: absolute;
  top: 150px;
  right: 0;
  left: 0;
  margin: 0 auto;
  border: 1px solid #070d59;
}
.estimate .btn{
  bottom: 300px;
}

/* PORTPOLIO */
.portpolio{
  height: 900px;
  margin: 0 auto;
}
.portpolio .btn{

}
.portpolio .title{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 20px;
}
.portpolio .title span{
  font-size: 40px;
  font-weight: 500;
}
.portpolio .portpolio__items{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.portpolio .portpolio__items .item{
  margin: 10px 10px;
}


/* SERVICE */
.service{
  height: 900px;
  margin: 0 auto;
  background: green;
}

/* REVIEW */
.review{
  height: 900px;
  margin: 0 auto;
}
.review .title{

  padding: 40px 0 0;
}
.review .title span{
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.review .review_boxes{
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.review .review_boxes .review_box{
  width: 100%;
  height: 500px;
  margin: 0 20px;
  padding: 15px 10px;
  border: 1px solid #070d59;
}
.review .review_boxes .review_box .client_img{
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.review .review_boxes .review_box .client_name{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 20px;
}
.review .review_boxes .review_box .client_interview{

}

/* FOOTER */
footer{
  position: relative;
  height: 400px;
  background-color: #f0f0f0;
}
footer .company_info{
  position: absolute;
  bottom: 20px;
  display: flex;
  width: 380px;
  right: 0;
  left: 0;
  margin: 0 auto;
}
footer .company_info .flogo{
  width: 80px;
  left: 300px;
}
footer .company_info .flogo img{
  width: 80px;
  height: 90px;
  object-fit: fill;
}
footer .company_info .info{
  position: absolute;
  bottom: 0;
  height: 90px;
  left: 100px;
}
footer .company_info .info span{
  display: block;
  font-size: 15px;
  white-space: nowrap;
  bottom: 0;
  margin-bottom: 3px;
}