@import url(../css/main.css);
body{
  font-family: "Nanum Gothic", "Noto" sans-serif;
}
.inner{
  position: relative;
  width:  1100px;
  margin: 0 auto;
  height: 100%;
}
section{
  border-bottom: 1px solid #333;
}
a{
  text-decoration: none;
  color: #333;
}
.img{
  display: block;
}
span{
  display: block;
}
/* PORT_FIRST */
.port_first{
  height: 800px;
  margin-top: 110px;
  position: relative;
}
.port_first .swiper-container{
  height: 800px;
  width: 100%;
  position: absolute;
  overflow: hidden;
}
.port_first .swiper-container .swiper-wrapper{
  height: inherit;
}
.port_first .swiper-container .swiper-wrapper .swiper-slide{
  height: inherit;
}
.port_first .swiper-container .swiper-wrapper .swiper-slide img{
  height: 100%;
  width: 100%;
}
.port_first .swiper-prev,
.port_first .swiper-next{
  width: 42px;
  height: 42px;
  border: 1px solid #070d59;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  outline: none;
  top: 52%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.port_first .swiper-prev{
  left: 7%;
}
.port_first .swiper-next{
  right: 7%;
}
.port_first .swiper-prev:hover,
.port_first .swiper-next:hover{
  background-color: #070d59;
  color: #fff;
}
/* port_second */
.port_second{
  /* height: 900px; */
  position: relative;
}
.port_second .inner{
  width: 1500px;
}
.port_second .cover__pattern{
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 0.2;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #444cf7 0, #444cf7 .5px, #e5e5f7 0, #e5e5f7 50%);
  position: absolute;
}
.port_second .portpolio_title,
.port_second .portpolio_title2{
  display: flex;
  justify-content: center;
  align-items: center;
}
.port_second .portpolio_title{
  padding-top: 40px;
}
.port_second .portpolio_title .portpolio_subtext{
  font-size: 25px;
  color: #7d7c7c;
  margin: 0 13px;
}
.port_second .portpolio_title .portpolio_maintext{
  font-size: 40px;
  color: #333;
}
.port_second .portpolio_title2{
  padding-top: 20px;
}
.port_second .portpolio_title2 .portpolio_subtext{
  color: #7d7c7c;
}
.port_second .category{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 20px 0; 
  border-top: 1px solid #333;
  padding: 30px 0;
}
.port_second .category .categoryname{
  margin: 0 34px;
  border: 2px solid #333;
  padding: 15px;
  width: 118px;
  display: flex;
  justify-content: center;
}
.port_second .category .categoryname:hover{
  background-color: #333;
  transition: .5s;
}
.port_second .category .categoryname:hover a{
  color: #fff;
}
.port_second .category .categoryname a{
  color: #333;
  font-size: 22px;
}
.port_second .portpolio__items{
  width: 1400px;
  right: 0;
  left: 0;
  margin: 0 auto;
}
.port_second .portpolio__items .homepage{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 100%;
}
.port_second .portpolio__items .mobileapp{ 
  display: none;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 100%;
}
.port_second .portpolio__items .webprogram { 
  display: none;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 100%;
}
.port_second .portpolio__items .others{ 
  display: none;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 100%;
}
.port_second .portpolio__items .item{
  margin: 10px 10px;
  position: relative;
  width: 260px;
  height: 280px;
  float: left;
}
.port_second .portpolio__items .item img{
  width: 260px;
  height: 160px;
}
.port_second .portpolio__items .item span{
  text-align: center;
  margin-top: 10px;
}
.port_second .portpolio__items .item .pagename{
  font-size: 24px;
  color: #333;
}
.port_second .portpolio__items .item .url{
  font-size: 12px;
  color: #a9a9a9;
}
.port_second .portpolio__items .item .material-symbols-outlined{
  position: absolute;
  margin-top: 0;
  right: 0;
  left: 0;
  margin: auto;
  top: 70px;
  opacity: 0;
  color: #fff;
  font-size: 30px;
  transition: .4s;
}
.port_second .portpolio__items .item:hover .material-symbols-outlined{
  opacity: 1;
}
